{% extends 'base.html' %}

{% block content %}
<div class="max-w-xl mx-auto mt-12">
    <form method="post" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <h1 class="text-2xl font-bold text-gray-800 mb-4">Enter The Chat Room</h1>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input class="shadow appearance-none w-full border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                   id="name" 
                   type="text" 
                   placeholder="Pick a Name" 
                   name="name" 
                   value="{{ name }}">
        </div>
        <div class="flex mb-4">
            <label class="block text-gray-700 text-sm font-bold mr-2" for="code">
                Join
            </label>
        </div>
        <div class="flex mb-4 w-full">
            <input class="border rounded py-2 px-3 w-1/2 mr-2 text-gray-700" 
                   id="code" 
                   type="text" 
                   placeholder="Room code" 
                   name="code" 
                   value="{{ code }}">
            <button class="bg-blue-500 hover:bg-blue-700 w-1/2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="submit" 
                    name="join">
                Join a Room
            </button>
        </div>
        
        <button class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="submit" 
                name="create">
            Create a Room
        </button>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</div>
{% endblock content %}
